body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    background-color: #f8eded;
    border-radius: 8px;
    width: 450px;
    max-width: 350px;
}

.login-form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 15px 0;
    color: #333;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #4caf50;
}


.login-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form {
    text-align: center;
}

p {
    text-align: center;
}

p a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

